*.zip
*.aep
*.txt
*.jpg
*.mp4
*.ai
*.mov
*.mp3
#WeatherAnalyzer
/Weather/WeatherAnalyzerAPI/.vs/
/Weather/WeatherAnalyzerAPI/obj/
/Weather/WeatherAnalyzerAPI/bin/
/Weather/WeatherAnalyzerAPI/obj/

#WeatherBackend
/Weather/WeatherBackend/.vs/
/Weather/WeatherBackend/obj/
/Weather/WeatherBackend/bin/
/Weather/WeatherBackend/obj/