<mat-toolbar color="primary">
  <mat-toolbar>
    <header>{{headerTitle}}</header>
    <mat-nav-list *ngFor="let menuItem of menuItems">
     <button mat-button class="buttonSize">{{menuItem}}</button>
    </mat-nav-list>


    <div class="example-spacer row"> </div>
      <button mat-icon-button (click)="homePage()">
          <mat-icon > home </mat-icon>
    </button>
    <mat-slide-toggle (change)="this.setValueOfSlideToggle($event)">
      Slide me!
    </mat-slide-toggle>
      </mat-toolbar>
  </mat-toolbar>

<app-home [slideToggle]="slideToggle ? slideToggle.value : false"></app-home>
